@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', 'Sawarabi Gothic', sans-serif;
  font-size: 14px;
  margin: 20px;
}

footer {
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  font-size: 20px;
}

.container {
  width: 600px;
  height: 800px;
  margin: 20px auto 20px auto;

  .title {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 2.0rem;
  }

  .row {
    display: flex;
  }
  
  .info {
    margin: 20px auto 20px;
    font-size: 30px;

    .turn {
      margin: 20px auto;
    }
  
    .message {
      margin: 30px auto;
    }
  }
}


@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    .info {
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 480px) {
  .info {
    font-size: 30px;
  }
}