@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', 'Sawarabi Gothic', sans-serif;
  font-size: 62.5%;
}

footer {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;

  a {
    text-decoration: none;
  }
}